/*Normalizing*/
* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
}

/*Colors*/
:root {
    --dgreen: #1a1a19;
    /*p*/
    --mgreen: #31511e;
    /*header, buttons*/
    --lgreen: #859f3d;
    /*footer*/
    --white: #f6fcdf;
    /*background*/
}

/*Fonts*/
h1 {
    font-family: "Mukta", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    color: var(--mgreen);
}

h2 {
    font-family: "Mukta", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    color: var(--mgreen);
}

p {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--dgreen);
}

body {
    background-color: var(--white);
}

header {
    padding: 0px 12% 0px 12%;
}

main {
    padding: 0px 12% 4% 12%;
}

/*Filters*/
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

.dropbutton {
    display: inline-block;
    /*color*/
    color: var(--white);
    background-color: var(--mgreen);
    /*button styling*/
    padding: 10px 30px;
    padding-top: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    border: none;
    border-radius: 7px;
    /*font styling*/
    font-family: "Hind Madurai", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    cursor: pointer;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown a {
    display: block;
    /*styling*/
    color: var(--dgreen);
    padding: 8px 12px;
    text-decoration: none;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.dropdown_selection:hover {
    color: var(--lgreen);
    text-decoration: underline;
    cursor: pointer;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown:hover .dropbutton {
    background-color: var(--dgreen);
}

#month {
    display: inline;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    /*     width: 70%; */
    margin: auto;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 16px;
    font-weight: 400;
    min-height: 350px;
}

.grid-item1 {
    grid-column: 1;
    min-width: 20%;
    text-align: center;
}

.grid-item2 {
    grid-column: 2;
    min-width: 20%;
    text-align: center;
}

footer {
    /*   position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2% 12% 2% 12%;
    background-color: var(--dgreen);
    color: var(--white);
}

footer h2,
footer p {
    color: var(--white);
}

footer a {
    color: var(--white);
    text-decoration: underline;
}